html
  head
    title Tetris | WDI 5
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Rationale|Iceland|Allerta+Stencil|Audiowide|Asap|Quicksand|Source+Code+Pro')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    .container
      .left
        button(onclick='newRect()' id='start') START
        .stats
          h2 STATISTICS
          ul
            li
              img(src='images/tBlock.png')
              h4#tBlock 1000
            li
              img(src='images/jBlock.png')
              h4#jBlock 1000
            li
              img(src='images/sBlock.png')
              h4#sBlock 1000
            li
              img(src='images/iBlock.png')
              h4#iBlock 1000
            li
              img(src='images/oBlock.png')
              h4#oBlock 1000
            li
              img(src='images/zBlock.png')
              h4#zBlock 1000
            li
              img(src='images/lBlock.png')
              h4#lBlock 1000
      canvas(id='canvas')  This text is displayed if your browser does not support HTML5 Canvas.
      .right
        .next
          h2 NEXT
          #next
        h1.title TETRIS
        .score
          h2 SCORE
          h4 TOP
          h3 1000000
          h4 SCORE
          h3#score 000000
        .lines
          h2 LINES
          h3#lines 000
        .level
          h2 LEVEL
          h3 04
    script(src='js/generator.js')
    //- script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(src='js/rectangle.js')
    script(src='js/tetrinos.js')
    script(src='js/rotate.js')
    script(src='js/win.js')
    script(src='js/canvasState.js')
    script(src='js/app.js')
    //- script(src='experiment.js')


