html
  head
    title Tetris | WDI 5
    link(rel="stylesheet", href="css/style.css")
  body
    .container
      h2.wdi5
      .stats
        h2 Statistics
        ul
          li
            img
            h4
          li
            img
            h4
          li
            img
            h4
          li
            img
            h4
          li
            img
            h4
          li
            img
            h4
          li
            img
            h4
      canvas(id='canvas')
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(src='js/rectBuilder.js')
    script(src='js/app.js')


